@model IEnumerable<MvcLivraria.Models.Autor>

@{
    ViewData["Title"] = "Index";
}

<h1>Autores</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nomeautor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pais)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lingua)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nomeautor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pais)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lingua)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.autorId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.autorId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.autorId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
